@charset "UTF8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}
audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 490px;
    width: 300px;
}
video#filme {
    display: block;
    position: relative;
    left: 90px;
    top: 70px;
    width: 440px;
}
div#video-principal {
    width: 500px;
    height: 220px;
    margin: auto;
}
video#filme-principal{
    display: block;
    position: relative;
    left: 1px;
    top: 70;
    width: 400px;
}
div#filme1{
    width: 490px;
    height: 300px;
    margin: auto;
}
video#video1{
    display: block;
    position: relative;
    left: 1px;
    top: 70;
    width: 500px;
}